<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Messages from arduino</h1>

    <ul id="messages">
        <li>{{ message }}</li>
    </ul>
    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
    <script>
        const host = window.location.host;
        const port = 9001;
        const messages = document.getElementById("messages");
        const client = mqtt.connect(`mqtt://${host}:${port}`);

        client.on("connect", () => {
            client.subscribe("arduino/vochtigheid", (err) => {
                if (!err) {
                client.publish("presence", "Hello mqtt");
                console.log("connected");
                }
            });
            client.subscribe("arduino/lichtwaarde", (err) => {
                if (!err) {
                client.publish("presence", "Hello mqtt");
                console.log("connected");
                }
            });
            client.subscribe("arduino/waterniveau", (err) => {
                if (!err) {
                client.publish("presence", "Hello mqtt");
                console.log("connected");
                }
            });
            client.subscribe("arduino/temperature", (err) => {
                if (!err) {
                client.publish("presence", "Hello mqtt");
                console.log("connected");
                }
            });
            client.subscribe("arduino/humidity", (err) => {
                if (!err) {
                client.publish("presence", "Hello mqtt");
                console.log("connected");
                }
            });
        });

        client.on("message", (topic, message) => {
            console.log("topic received: ", topic.toString()); 
            switch (topic.toString()) {
                case "arduino/vochtigheid":
                    console.log("vochtigheid: ", message.toString());
                    break;
                case "arduino/lichtwaarde":
                    console.log("lichtwaarde: ", message.toString());
                    break;
                case "arduino/waterniveau":
                    console.log("waterniveau: ", message.toString());
                    break;
                case "arduino/temperature":
                    console.log("temperatuur: ", message.toString());
                    break;
                case "arduino/humidity":
                    console.log("temperatuur: ", message.toString());
                    break;
                default:
                    console.log("unknown topic: ", topic.toString());
                    break;
            }
            console.log("message received: ", message.toString());
            const msg = message.toString();
            const time = new Date().toLocaleTimeString();
            const li = document.createElement("li");
            li.textContent = `${time} - ${msg}`;
            messages.prepend(li);
        });

    </script>
</body>
</html>